<form>
<%= form_with model: @tweet, local: true do |f|%>
  <div class="field">
    <%= f.label :text, "ツイート", class:"form-text"%><br />
    <%= f.text_area :text, class:"form-text", id: "tweet-text", placeholder: "つぶやこう！"%>
  </div>

  <div class="field">
    <%= f.label :image, "画像", class:"form-text"%><br />
    <%= f.file_field :image, id:"tweet_image",class:"form-text" %>
  </div>

  <div class="actions">
    <%= f.submit "ツイート", class: "button-gradation" %>
  </div>
<% end %>
</form>