<main class="contents">
  <div class="col-2">
    <div class="tweet__wrapper">
      <h2><%= link_to @tweet.user.name, user_path(@tweet.user) %></h2>

      <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <p><%= @tweet.text %></p>
        <%# <div class="tweet__manage">
          <%= link_to "削除する", tweet_path(@tweet.id), method: :delete, class: :tweet__btn %> 
        </div>
      <% end %>
      <% if @tweet.image.present? %>
        <div class="tweet-img-content">
          <%= image_tag @tweet.image, class:"tweet-img"%>
        </div>
        <% end %>
      <div class="tweet__comments">

          <% if user_signed_in? %>
            <%= form_with model: [@tweet, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :comment, "コメント" %><br />
              <%= f.text_field :text, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
            <% end %>
          <% end %>

        <ul class="comments_lists">

            <li class="comments_list">
            <% @comments.each do |comment| %>
              <p>
                <%= comment.text %>
                <%= link_to comment.user.name, user_path(comment.user_id), class: :comment_user %>
              <p>
              <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</main>