<form>
<%= form_with model: @meal_record, local: true do |f|%>
  <div class="field">
    <%= f.label :text, "食事記録" %><br />
    <%= f.text_area :text, class:"form-text" %>
  </div>

    <div class="field">
    <%= f.label :calorie, "カロリー" %><br />
    <%= f.text_field :calorie, class:"form-text" %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image, class:"form_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: "button-gradation"  %>
  </div>
<% end %>
</form>