<div class="contents">
<% @body_makes.each do |body_make| %>
  <%= body_make.user.name %>
    <%= body_make.text %>
    <%= link_to body_make_path(body_make.id) do %>
      <div class='body_make-img-content'>
      <% if body_make.image.present? %>
      <%= image_tag body_make.image, class: "body_make-img" %>
      <% end %>
    <% end %>
  <%end%>
  <%= render partial: "form", locals: { body_make: @body_make }, class:"body_make-form" %> 
</div>